# 모든 하위 경로 포함 환경변수 파일 무시
**/.env

# 모든 하위 경로 포함 VSCode 설정 무시
**/.vscode/

# Python 캐시, 가상환경 등
**/__pycache__/
**/*.pyc
**/.pytest_cache/
**/.mypy_cache/
**/.venv/
**/.idea/
**/__pypackages__/

# PyQt6 빌드 산출물 및 기타
**/build/
**/dist/
**/*.spec
**/.token

# 로그 파일들
*.log

# Docker override 파일들
docker-compose.override.yml
docker-compose.override.yaml

# macOS 시스템 파일
.DS_Store
.AppleDouble
.LSOverride
._*

# macOS 볼륨 루트 관련 파일들
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# AFP 네트워크 공유 디렉토리
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# 기타
.envrc
